<div id="background"></div>
<div id="scramble">
  {{scramble}}
  <button md-icon-button (click)="scramble = getScramble()" [style.opacity]="0.7">
    <md-icon>refresh</md-icon>
  </button>
</div>
<div id="wrapper">
  <div id="timer">
    <app-timer (time)="onTime($event)"></app-timer>
  </div>
</div>
<div #timesList id="timesList">

  <div id="masterControls">
    <button md-icon-button *ngIf="times.length" (click)="deleteAll()" mdTooltip="Delete all times" [mdTooltipPosition]="'after'">
      <md-icon>delete_forever</md-icon>
    </button>
  </div>

  <div *ngFor="let time of times">
    <button md-raised-button [mdMenuTriggerFor]="menu" class="timeListing">
      <label>{{time.time}}</label>
    </button>
    <md-menu #menu="mdMenu">
      <button md-menu-item (click)="deleteTime(time)">
        <md-icon>delete</md-icon>
        <span>Delete</span>
      </button>
      <button md-menu-item (click)="openInfoDialog(time)">
        <md-icon>info</md-icon>
        <span>View scramble</span>
      </button>
    </md-menu>
  </div>

</div>
<app-menu-bar></app-menu-bar>