@import '../constants.scss';

* {
    font-family: 'NTR', sans-serif;
    color: $dark;
}

#background {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: $dark;
}

#timer {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    text-align: center;
}

#wrapper {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%);
}

#scramble {
    position: relative;
    top: 10%;
    color: $light;
    text-align: center;
    font-size: 30px;
}

#times {
    position: fixed;
    height: 100%;
    width: 20%;
    background-color: $light;
}

span {
    font-size: 20px;
}
