@import '../constants.scss';

#background {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-image: linear-gradient(180deg, $dark, $m_dark);
}

#timer {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    text-align: center;
}

#wrapper {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%);
}

#scramble {
    position: fixed;
    width: 100%;
    top: 80px;
    text-align: center;
    color: $light;
    font-size: 35px;

    font-family: 'NTR', sans-serif;
}

#timesList {
    position: absolute;
    width: 115px;
    top: 120px;
    bottom: 5px;
    left: 10px;
    margin-top: 10px;
    overflow: hidden;
    overflow-y: scroll;
    color: $light;
}

#masterControls {
    position: absolute;
    width: 115px;
    height: 40px;
    top: 80px;
    left: 10px;
    color: $light;

    margin-bottom: 10px;
}

.timeListing {
    height: 40px;
    padding: 0;
    margin: 5px 5px;
    text-align: center;
    background-color: $dark;
    border-radius: 100px;   // completely rounded
    label {
        font-family: 'Open Sans', sans-serif !important;
        color: $light;
    }
    font-size: 20px;
}

md-icon {
    font-family: 'Material Icons';
    color: $light;
}

span {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 13px;
    color: $light;
    padding: 0 3px;
}